<div class="m-b-lg">
<form name="form">
	<div class="list-group list-group-sm">
		<div class="list-group-item">
			<input type="email" placeholder="Email" class="form-control" ng-model="user.email" ng-required="true" required="required">
		</div>
		<div class="list-group-item">
			<input type="password" placeholder="Password" class="form-control" ng-model="user.password" ng-required="true" required="required">
		</div>
	</div>
	<button type="loginSubmit" class="btn btn-lg btn-success btn-block" ng-click="loginSubmit()" ng-disabled="form.$invalid" disabled="disabled">Login</button>
	<button ng-show="getTokenEmail()" type="loginSubmit" class="btn btn-lg btn-success btn-block" ng-click="autoLogin()">Auto Login - {{ getTokenEmail() }}</button>
</form>
</div>